DMARCbis WGLC Minor Issues and Editorial Comments

- Kurt Andersen's name is spelled incorrectly (Anderson) in Acknowledgements - RFC 7489

- Introduction section: Move the word 'in' to outside the quotes in the phrases: "in strict alignment" and "in relaxed alignment" 
- 2.1 High-Level Goals: Perhaps flip-flop the first two bullet points
- 2.2 Anti-Phishing: Change "\<display-name\>" to "display-name" and make it link to RFC 5322 Section 3.4
- 2.3 Scalability: Change first sentence to read "Scalability is a significant issue for systems that need to operate in _an _environment__ as widely deployed as current SMTP email.
- 3.2.4 Enforcement: Change "mail using the domain name that is unauthenticated" to "unauthenticated mail using the domain name"
- 4.7 DMARC Policy Discovery: In the following paragraph:

 `"Handling of DNS errors when querying for the DMARC policy record is left to the discretion of the Mail Receiver. For example, to ensure minimal disruption of mail flow, transient errors could result in delivery of the message ("fail open"), or they could result in the message being temporarily rejected (i.e., an SMTP 4yx reply), which invites the sending MTA to try again after the condition has possibly cleared, allowing a definite DMARC conclusion to be reached ("fail closed")."` 
 
 should the word 'or' be inserted before the last clause 'allowing a definite DMARC conclusion to be reached ("fail closed")'?

- 5.3 General Record Format - The definitions of the rua and ruf tags are a bit messy; they should be worded essentially identically, i.e., Here's what the tag means, receivers must support mailto:, $OTHER_DOCUMENT discusses third party receiver considerations and the format of these reports.
- 5.3 General Record Format - Add link to Appendix A.7 in description of the 't' tag.
- 5.7.1 Extract Author Domain - Change MAY to may
- 7.6 Expansion of Domain Owner Actions Section - Change "domain owner" to "Domain Owner"




The following changes have been made in the working copy of rev -31:

- Kurt Andersen's name is spelled incorrectly (Anderson) in Acknowledgements - RFC 7489
- Introduction section: Move the word 'in' to outside the quotes in the phrases: "in strict alignment" and "in relaxed alignment"
- 2.1 High-Level Goals: Perhaps flip-flop the first two bullet points
- 2.3 Scalability: Change first sentence to read "Scalability is a significant issue for systems that need to operate in an environment as widely deployed as current SMTP email.
- 3.2.4 Enforcement: Change "mail using the domain name that is unauthenticated" to "unauthenticated mail using the domain name"
- 7.6 Expansion of Domain Owner Actions Section - Change "domain owner" to "Domain Owner"



The following nit has been moved to its own separate issue (issue #124):

- 5.3 General Record Format - The definitions of the rua and ruf tags are a bit messy; they should be worded essentially identically, i.e., Here's what the tag means, receivers must support mailto:, $OTHER_DOCUMENT discusses third party receiver considerations and the format of these reports.

The following changes have been made in the working copy of rev -31:

- 5.3 General Record Format - Add link to Appendix A.7 in description of the 't' tag.

The following changes have been made in the working copy of rev -31:

- 2.2 Anti-Phishing: Change "<display-name>" to "display-name" and make it link to RFC 5322 Section 3.4

On list discussion for the nit in section 4.7 indicated that the text should remain as is, and that "or" should not be inserted before the last clause.

Similarly, on list discussion for the nit in section 5.7.1 indicated that 'MAY' should remain rather than be replaced by 'may'.

All changes checked in to the committed branch (rev-31)